# EDA

![]()

In [2]:
import warnings

warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests




from matplotlib.ticker import PercentFormatter
plt.rcParams.update({ "figure.figsize" : (8, 5),"axes.facecolor" : "white", "axes.edgecolor":  "black"})
plt.rcParams["figure.facecolor"]= "w"
pd.plotting.register_matplotlib_converters()
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
df = pd.read_csv('./data/eda.csv')

#converting to proper datetime format
df.date = pd.to_datetime(df.date)
df.head(20)

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date,price,house_id,id.1
0,7129300520,3.000,1.000,1180.000,5650.000,1.000,NaN,0.000,3,7,...,0.000,98178,47.511,-122.257,1340.000,5650.000,2014-10-13,221900.000,7129300520,1
1,6414100192,3.000,2.250,2570.000,7242.000,2.000,0.000,0.000,3,7,...,19910.000,98125,47.721,-122.319,1690.000,7639.000,2014-12-09,538000.000,6414100192,2
2,5631500400,2.000,1.000,770.000,10000.000,1.000,0.000,0.000,3,6,...,NaN,98028,47.738,-122.233,2720.000,8062.000,2015-02-25,180000.000,5631500400,3
3,2487200875,4.000,3.000,1960.000,5000.000,1.000,0.000,0.000,5,7,...,0.000,98136,47.521,-122.393,1360.000,5000.000,2014-12-09,604000.000,2487200875,4
4,1954400510,3.000,2.000,1680.000,8080.000,1.000,0.000,0.000,3,8,...,0.000,98074,47.617,-122.045,1800.000,7503.000,2015-02-18,510000.000,1954400510,5
5,7237550310,4.000,4.500,5420.000,101930.000,1.000,0.000,0.000,3,11,...,0.000,98053,47.656,-122.005,4760.000,101930.000,2014-05-12,1230000.000,7237550310,6
6,1321400060,3.000,2.250,1715.000,6819.000,2.000,0.000,0.000,3,7,...,0.000,98003,47.310,-122.327,2238.000,6819.000,2014-06-27,257500.000,1321400060,7
7,2008000270,3.000,1.500,1060.000,9711.000,1.000,0.000,NaN,3,7,...,0.000,98198,47.410,-122.315,1650.000,9711.000,2015-01-15,291850.000,2008000270,8
8,2414600126,3.000,1.000,1780.000,7470.000,1.000,0.000,0.000,3,7,...,0.000,98146,47.512,-122.337,1780.000,8113.000,2015-04-15,229500.000,2414600126,9
9,3793500160,3.000,2.500,1890.000,6560.000,2.000,0.000,0.000,3,7,...,0.000,98038,47.368,-122.031,2390.000,7570.000,2015-03-12,323000.000,3793500160,10
10,1736800520,3.000,2.500,3560.000,9796.000,1.000,NaN,0.000,3,8,...,0.000,98007,47.601,-122.145,2210.000,8925.000,2015-04-03,662500.000,1736800520,11
11,9212900260,2.000,1.000,1160.000,6000.000,1.000,0.000,0.000,4,7,...,0.000,98115,47.690,-122.292,1330.000,6000.000,2014-05-27,468000.000,9212900260,12
12,114101516,3.000,1.000,1430.000,19901.000,1.500,0.000,0.000,4,7,...,NaN,98028,47.756,-122.229,1780.000,12697.000,2014-05-28,310000.000,114101516,13
13,6054650070,3.000,1.750,1370.000,9680.000,1.000,0.000,0.000,4,7,...,0.000,98074,47.613,-122.045,1370.000,10208.000,2014-10-07,400000.000,6054650070,14
14,1175000570,5.000,2.000,1810.000,4850.000,1.500,0.000,0.000,3,7,...,0.000,98107,47.670,-122.394,1360.000,4850.000,2015-03-12,530000.000,1175000570,15
15,9297300055,4.000,3.000,2950.000,5000.000,2.000,0.000,3.000,3,9,...,0.000,98126,47.571,-122.375,2140.000,4000.000,2015-01-24,650000.000,9297300055,16
16,1875500060,3.000,2.000,1890.000,14040.000,2.000,0.000,0.000,3,7,...,0.000,98019,47.728,-121.962,1890.000,14018.000,2014-07-31,395000.000,1875500060,17
17,6865200140,4.000,1.000,1600.000,4300.000,1.500,0.000,0.000,4,7,...,0.000,98103,47.665,-122.343,1610.000,4300.000,2014-05-29,485000.000,6865200140,18
18,16000397,2.000,1.000,1200.000,9850.000,1.000,0.000,0.000,4,7,...,0.000,98002,47.309,-122.210,1060.000,5095.000,2014-12-05,189000.000,16000397,19
19,7983200060,3.000,1.000,1250.000,9774.000,1.000,0.000,0.000,4,7,...,0.000,98003,47.334,-122.306,1280.000,8850.000,2015-04-24,230000.000,7983200060,20

In [4]:
list_of_content = df.columns 
for x in list_of_content: 
    print(f" \n{x}:\n\n {df[x].unique()}")

id:

 [7129300520 6414100192 5631500400 ... 1523300141  291310100 1523300157]

bedrooms:

 [ 3.  2.  4.  5.  1.  6.  7.  8.  9. 11. 10. 33.]

bathrooms:

 [1.   2.25 3.   2.   4.5  1.5  2.5  1.75 2.75 3.25 4.   3.5  0.75 4.75
 5.   4.25 3.75 1.25 5.25 6.   0.5  5.5  6.75 5.75 8.   7.5  7.75 6.25
 6.5 ]

sqft_living:

 [1180. 2570.  770. ... 3087. 3118. 1425.]

sqft_lot:

 [ 5650.  7242. 10000. ...  5813.  2388.  1076.]

floors:

 [1.  2.  1.5 3.  2.5 3.5]

waterfront:

 [nan  0.  1.]

view:

 [ 0. nan  3.  4.  2.  1.]

condition:

 [3 5 4 1 2]

grade:

 [ 7  6  8 11  9  5 10 12  4  3 13]

sqft_above:

 [1180. 2170.  770. 1050. 1680. 3890. 1715. 1060. 1890. 1860.  860. 1430.
 1370. 1810. 1980. 1600. 1200. 1250. 2330. 2270. 1070. 2450. 1710. 1750.
 1400.  790. 2570. 2320. 1190. 1510. 1090. 1280.  930. 2360.  890. 2620.
 2600. 3595. 1570.  920. 3160.  990. 2290. 2165. 1640. 1000. 2130. 2830.
 2250. 2420. 3250. 1850. 1590. 1260. 2519. 1540. 1110. 1770. 2720. 2240.
 3070. 2380. 2390.  880. 1040.  910. 3450. 2350. 1900. 1010.  960. 2660.
 1610.  765. 3520. 1290. 1960. 1160. 1210. 1270. 1440. 2190. 2920. 1460.
 1170. 1240. 3140. 2030. 2310.  700. 1080. 2520. 2780. 1560. 1450. 1720.
 2910. 1620. 1360. 2070. 2460. 1390. 2140. 1320. 1340. 1550.  940. 1380.
 3670. 2370. 1130.  980. 3540. 2500. 1760. 1030. 1780. 3400. 2680. 1670.
 2590.  820. 1220. 2440. 2090. 1100. 1330. 1420. 1690. 2150. 1910. 1350.
 1940.  900. 1630. 2714.  850. 1870. 1950. 2760. 2020. 1120. 1480. 1230.
 2280. 3760. 3530.  830. 1300. 2740. 1830.  720. 2010. 3360.  800. 1730.
  760. 1700. 4750. 5310.  580. 2653. 2850. 2210. 2630. 3500. 1740. 1140.
 2160. 2650.  970. 2040. 2180. 2220. 1660. 3370. 2690. 1930. 3150. 3030.
 2050. 2490. 2560. 1275. 2580.  560. 1820. 1840. 2990. 3230. 1580. 3480.
 2510. 1410. 2120. 3300. 3840. 1500. 1530. 2840.  833. 2000. 6070.  950.
 2200. 4040. 1920. 1490. 3470. 3130. 2610. 3260. 2260.  430. 3390.  630.
 4860. 3860. 2810.  870. 3180. 2770. 4030. 4410. 2400. 1520. 3040. 6050.
 4740. 1970. 5403. 3350. 3580. 1790.  750. 2860. 2750. 2340. 2870. 4120.
 3200. 2550. 1805. 4150. 1384. 2060. 2110. 3590. 2100. 2540. 1880. 1150.
 1470. 1255. 1800. 4370. 3190. 2730. 4570. 2470.  670. 2900. 4670. 4230.
 2156. 1020. 2940. 2640. 2710. 3100. 3610. 4270.  840. 3090. 2300.  380.
 2480. 3460. 3060. 3000. 1654. 2790. 1310. 2230. 2430. 3680. 2670. 2208.
  810.  740. 1422.  490. 2080. 3440. 5670. 4475.  730. 3410. 3010.  600.
 2960. 3570. 4300. 3990.  780. 3020. 5990.  440. 4460. 4190. 2800. 2530.
 1650. 3690. 2932. 3720. 4250. 3110. 2963. 4930. 2950. 5000. 2452. 2820.
 1981.  640. 2495. 2403. 5320. 6720.  660. 2341. 4210. 3830. 3280. 2980.
 5153. 1990. 1646.  610.  710. 5450. 3504. 3210. 1782. 2930.  590. 4280.
  680. 3880. 3430. 3750. 4130. 5710. 3380. 3330. 4700. 3220. 3362. 3510.
 3810.  620. 4490. 2410. 3050. 1008. 3488. 4070. 3420. 5770. 1605.  520.
 1088. 3555. 4360. 3960. 2700. 4340. 1552. 3850. 2303. 3270. 4350. 3640.
 2174. 4160. 2496. 5180. 5130. 6350. 3770. 2153. 3780. 2890. 1714. 2201.
 2970.  992. 3950. 3527. 2835. 3915. 1427. 4870. 3340. 3620. 4310. 3930.
 4080. 5400.  570. 3310. 6110. 3320. 3490. 3859. 3710. 1798. 4600. 3560.
 3940. 3600. 3800. 1105. 2305. 3290. 5050. 1556. 1553. 4000. 1657. 3001.
 4220.  480. 3120. 3740.  530. 3700. 5230. 5370. 3080. 4140. 4430. 3550.
 1159. 1288. 2880. 4610. 1122. 3052. 1479. 7680. 3820. 1934. 5080. 2675.
 2506. 5760. 2154. 4390. 3240. 1995. 1689. 2782. 2395. 4400. 6200. 3526.
 4320. 2483. 4380. 4580. 4180. 2064. 3650. 1726. 2019. 4240. 1256.  500.
 1355. 1747. 1678. 1833. 1414. 4115. 3597. 3170. 1976. 5830. 2601. 3920.
 2641. 5070. 2518. 3910. 3660. 3695. 4020. 2803. 2074. 2038. 4060. 4890.
 2329. 1264. 1095.  690. 4090. 1392. 2844.  902. 4560. 2811. 4720. 2168.
 5610. 2683. 4900. 2095. 4290. 4050. 4260. 4440. 6220. 1175.  998. 2356.
 4500. 3900. 3831. 1315. 4470. 2286. 2927. 4760. 8570. 5140. 1679. 1811.
 2849. 1676. 1757. 3730. 2441. 2163. 5250. 2795. 2415. 3970. 4200. 1068.
 5240. 1509. 1954. 4820. 1651. 4100. 1752. 3630. 2885. 3154. 1129. 2632.
 1996. 4010.  550.  410. 6430. 3790. 2031. 1652. 2434. 3316. 1899. 2331.
 2497. 2216. 4170. 1341. 1961. 5584. 8860. 2507. 5220. 4850. 5844. 5530.
 2145.  650. 1982. 4910. 3605. 1778. 1463. 2783. 1946. 1358. 3870. 1864.
 1845. 6290. 3980. 2382. 2979. 3674. 2726. 5440. 1295. 2115. 6085. 3265.
 3136. 6640. 4620. 3361. 2245. 2242. 1078. 2577. 1329.  420. 4330. 1975.
 7420. 1788. 2299. 1092. 4225. 1087. 1904.  470. 2966. 2192. 2253. 5550.
 4133. 4285. 1216.  540. 9410. 2075. 5330. 2166. 1628. 1808. 1352. 2557.
 6380. 7880. 2734. 1363. 1769. 2093. 1677. 2588. 5190. 2298. 1491. 2961.
 5020. 5980. 4540. 6120. 2233. 4480. 4110. 4770. 2473.  995. 5160. 1494.
 2007. 1048. 3002. 4780. 2155. 2014. 4980. 2665. 4830. 4790. 5010.  370.
 2105. 3006. 3004. 2689. 4660. 1746. 2678. 2755. 2414.  901. 4630. 2068.
 2807. 2643. 2181. 4510. 4420. 1604. 1435. 3045. 2717. 2905. 4940. 5110.
 2533. 6660. 3485. 2659. 5090. 2375. 1964.  866. 1595.  944. 5480.  809.
 5040. 1764. 1656. 1802.  460. 2692. 1544. 2044. 1212. 4083. 8020. 3905.
 1502. 4590. 2092. 6090. 1615. 7320. 1396. 1484. 1765. 5490. 1453. 1643.
 5300. 1381. 4065. 1313. 5430. 1397. 2793. 2475. 1936. 3028.  798. 2575.
 3276. 1584. 2393. 2029. 3222. 1072. 1785. 1984.  962. 2423. 2052. 2538.
 2437. 2789. 2906. 4800. 7850. 2196. 1847. 2658. 2655. 3855. 1728.  963.
 2223. 1611. 2015. 2448. 1489. 1116. 3745. 1002. 3202. 1347. 1481. 2311.
 2544. 2584. 2217. 3569. 3181. 1921. 2612. 2671. 2598. 3284. 3266. 1076.
 2594. 2718. 1794. 2481. 3845. 1413. 1876. 3148. 2413. 1767. 5060.  806.
 2547. 1834. 2024. 1165. 2134. 1741. 2798. 1852. 4810. 2099. 3216. 1094.
 2891. 2432. 2283. 2701. 1658.  893. 2009. 1444. 2744. 3078. 3065. 1578.
 2815. 4960. 1571. 6530. 4640. 1536. 3172. 6370. 3223. 1608. 2229. 3135.
 1408. 1763. 4840. 1232. 2502. 2424. 1296. 1914.  988. 3828. 3056. 2267.
 1131. 2796. 1812. 1084. 2025. 1564. 1239. 2568. 1528. 2628. 2185. 2478.
 2669. 1912. 2828. 2425. 1446. 3206. 2406. 1419. 2056. 1144. 2456. 4950.
 3192.  828. 2529. 2732. 1987. 3906. 4073. 2578. 2738. 3691. 1061. 2846.
 2542. 1889. 3336. 3236. 1451. 1983. 2313. 1824. 1322. 1766. 2301. 3274.
 1108. 2864. 2716. 1572. 3281. 2656. 2398. 1867. 1613. 2587. 2623.  390.
  894. 1606. 2244. 2026. 2238. 2517. 2708. 2555. 1405. 4450. 1248. 6420.
 2531. 1333. 2198. 3087. 3118. 1425.]

sqft_basement:

 [   0.  400.  910. 1530.   nan  730. 1700.  300.  970.  760.  720.  700.
  820.  780.  790.  330. 1620.  360.  588. 1510.  410.  990.  600.  560.
  550. 1000. 1600.  500. 1040.  880. 1010.  240.  265.  290.  800.  540.
  710.  840.  380.  770.  480.  570. 1490.  620. 1250. 1270.  120.  650.
  180. 1130.  450. 1640. 1460. 1020. 1030.  750.  640. 1070.  490. 1310.
  630. 2000.  390.  430.  850.  210. 1430. 1950.  440.  220. 1160.  860.
  580. 2060. 1820. 1180.  200. 1150. 1200.  680.  530. 1450. 1170. 1080.
  960.  280.  870. 1100.  460. 1400.  660. 1220.  900.  420. 1580. 1380.
  475.  690.  270.  350.  935. 1370.  980. 1470.  160.  950.   50.  740.
 1780. 1900.  340.  470.  370.  140. 1760.  130.  520.  890. 1110.  150.
 1720.  810.  190. 1290.  670. 1800. 1120. 1810.   60. 1050.  940.  310.
  930. 1390.  610. 1830. 1300.  510. 1330. 1590.  920. 1320. 1420. 1240.
 1960. 1560. 2020. 1190. 2110. 1280.  250. 2390. 1230.  170.  830. 1260.
 1410. 1340.  590. 1500. 1140.  260.  100.  320. 1480. 1060. 1284. 1670.
 1350. 2570. 1090.  110. 2500.   90. 1940. 1550. 2350. 2490. 1481. 1360.
 1135. 1520. 1850. 1660. 2130. 2600. 1690.  243. 1210. 1024. 1798. 1610.
 1440. 1570. 1650.  704. 1910. 1630. 2360. 1852. 2090. 2400. 1790. 2150.
  230.   70. 1680. 2100. 3000. 1870. 1710. 2030.  875. 1540. 2850. 2170.
  506.  906.  145. 2040.  784. 1750.  374.  518. 2720. 2730. 1840. 3480.
 2160. 1920. 2330. 1860. 2050. 4820. 1913.   80. 2010. 3260. 2200.  415.
 1730.  652. 2196. 1930.  515.   40. 2080. 2580. 1548. 1740.  235.  861.
 1890. 2220.  792. 2070. 4130. 2250. 2240. 1990.  768. 2550.  435. 1008.
 2300. 2610.  666. 3500.  172. 1816. 2190. 1245. 1525. 1880.  862.  946.
 1281.  414. 2180.  276. 1248.  602.  516.  176.  225. 1275.  266.  283.
   65. 2310.   10. 1770. 2120.  295.  207.  915.  556.  417.  143.  508.
 2810.   20.  274.  248.]

yr_built:

 [1955 1951 1933 1965 1987 2001 1995 1963 1960 2003 1942 1927 1977 1900
 1979 1994 1916 1921 1969 1947 1968 1985 1941 1915 1909 1948 2005 1929
 1981 1930 1904 1996 2000 1984 2014 1922 1959 1966 1953 1950 2008 1991
 1954 1973 1925 1989 1972 1986 1956 2002 1992 1964 1952 1961 2006 1988
 1962 1939 1946 1967 1975 1980 1910 1983 1978 1905 1971 2010 1945 1924
 1990 1914 1926 2004 1923 2007 1976 1949 1999 1901 1993 1920 1997 1943
 1957 1940 1918 1928 1974 1911 1936 1937 1982 1908 1931 1998 1913 2013
 1907 1958 2012 1912 2011 1917 1932 1944 1902 2009 1903 1970 2015 1934
 1938 1919 1906 1935]

yr_renovated:

 [    0. 19910.    nan 20020. 20100. 19920. 20130. 19940. 19780. 20050.
 20030. 19840. 19540. 20140. 20110. 19830. 19450. 19900. 19880. 19770.
 19810. 19950. 20000. 19990. 19980. 19700. 19890. 20040. 19860. 20070.
 19870. 20060. 19850. 20010. 19800. 19710. 19790. 19970. 19500. 19690.
 19480. 20090. 20150. 19740. 20080. 19680. 20120. 19630. 19510. 19620.
 19530. 19930. 19960. 19550. 19820. 19560. 19400. 19760. 19460. 19750.
 19640. 19730. 19570. 19590. 19600. 19670. 19650. 19340. 19720. 19440.
 19580.]

zipcode:

 [98178 98125 98028 98136 98074 98053 98003 98198 98146 98038 98007 98115
 98107 98126 98019 98103 98002 98133 98040 98092 98030 98119 98112 98052
 98027 98117 98058 98001 98056 98166 98023 98070 98148 98105 98042 98008
 98059 98122 98144 98004 98005 98034 98075 98116 98010 98118 98199 98032
 98045 98102 98077 98108 98168 98177 98065 98029 98006 98109 98022 98033
 98155 98024 98011 98031 98106 98072 98188 98014 98055 98039]

lat:

 [47.5112 47.721  47.7379 ... 47.3906 47.3339 47.6502]

long:

 [-122.257   -122.319   -122.233   -122.393   -122.045   -122.005
 -122.327   -122.315   -122.337   -122.031   -122.145   -122.292
 -122.229   -122.394   -122.375   -121.962   -122.343   -122.21
 -122.306   -122.341   -122.169   -122.166   -122.17298 -122.218
 -122.36    -122.314   -122.304   -122.11    -122.07    -122.357
 -122.368   -122.157   -122.31    -122.132   -122.362   -122.282
 -122.18    -122.027   -122.347   -122.016   -122.364   -122.175
 -121.977   -122.371   -122.151   -122.301   -122.451   -122.322
 -122.189   -122.384   -122.369   -122.281   -122.29    -122.114
 -122.122   -122.116   -122.149   -122.339   -122.335   -122.344
 -122.32    -122.297   -122.192   -122.215   -122.16    -122.179
 -122.287   -122.036   -122.073   -121.987   -122.125   -122.34
 -122.025   -122.008   -122.291   -122.365   -122.199   -122.194
 -122.387   -122.372   -122.391   -122.351   -122.386   -122.249
 -122.277   -122.378   -121.958   -121.714   -122.08    -122.196
 -122.184   -122.133   -122.38    -122.082   -122.109   -122.053
 -122.349   -122.295   -122.253   -122.248   -122.303   -122.294
 -122.226   -122.266   -122.098   -122.212   -122.244   -122.39
 -122.352   -121.85    -122.152   -122.054   -122.072   -121.998
 -122.296   -122.299   -122.381   -122.358   -122.128   -122.171
 -122.174   -122.026   -122.353   -121.943   -122.286   -122.336
 -122.359   -122.162   -122.3     -122.176   -122.172   -121.996
 -122.118   -122.193   -122.023   -122.224   -122.168   -122.231
 -122.331   -122.374   -122.182   -122.308   -122.307   -121.999
 -122.376   -122.2     -122.039   -122.102   -122.188   -122.379
 -122.043   -122.153   -122.191   -122.219   -122.312   -121.911
 -121.994   -122.165   -122.37    -122.158   -122.047   -122.284
 -122.017   -122.275   -122.268   -122.367   -122.217   -122.373
 -122.013   -122.214   -122.034   -122.164   -121.899   -122.183
 -121.95    -122.324   -122.216   -122.395   -122.213   -122.345
 -122.278   -122.111   -121.711   -122.27    -122.178   -122.147
 -121.772   -122.302   -122.438   -122.223   -122.042   -122.323
 -122.255   -122.4     -122.261   -122.071   -122.206   -122.272
 -122.23    -122.144   -122.143   -122.181   -122.154   -122.311
 -122.274   -122.077   -122.      -122.298   -122.058   -121.837
 -122.333   -122.057   -122.252   -122.093   -122.012   -122.052
 -122.354   -122.22    -122.49    -121.875   -122.24    -122.078
 -122.173   -121.854   -122.222   -122.28    -122.137   -122.159
 -121.974   -122.141   -122.029   -121.709   -122.19    -121.97
 -122.329   -122.195   -122.06    -121.959   -122.095   -122.148
 -122.146   -122.35    -121.901   -122.241   -122.129   -122.289
 -122.305   -122.022   -122.385   -121.779   -122.032   -122.402
 -122.482   -122.227   -121.982   -122.161   -122.046   -122.156
 -122.127   -122.33    -122.197   -122.041   -122.103   -122.318
 -122.382   -122.271   -121.955   -122.211   -122.262   -122.258
 -122.121   -122.221   -122.234   -122.089   -122.123   -122.167
 -121.909   -122.107   -122.064   -122.066   -122.062   -122.264
 -122.186   -122.087   -121.88    -121.864   -122.205   -122.363
 -122.139   -122.018   -122.225   -122.285   -122.084   -122.177
 -122.056   -122.316   -122.021   -122.348   -122.009   -122.131
 -122.411   -122.198   -122.256   -122.117   -122.097   -122.075
 -121.845   -122.083   -122.259   -121.87    -122.015   -122.007
 -121.86    -122.409   -121.755   -121.972   -122.251   -122.317
 -121.776   -122.115   -122.283   -122.242   -122.001   -122.024
 -122.309   -122.113   -121.771   -122.239   -122.273   -122.396
 -122.094   -122.267   -122.326   -122.13    -122.269   -121.853
 -122.05    -122.346   -122.076   -121.826   -122.124   -121.758
 -122.202   -121.785   -121.872   -122.006   -122.004   -122.321
 -121.882   -122.101   -122.03    -122.185   -122.1     -121.759
 -121.965   -122.201   -122.366   -122.313   -122.405   -122.02
 -122.279   -122.355   -121.934   -122.15    -122.356   -121.993
 -122.044   -122.134   -121.867   -122.01    -121.991   -122.011
 -121.983   -122.228   -122.033   -122.276   -122.119   -121.937
 -122.361   -122.325   -122.203   -122.136   -122.237   -122.209
 -122.049   -122.288   -122.106   -122.037   -122.207   -122.263
 -121.915   -122.204   -122.09    -122.069   -121.852   -121.787
 -121.976   -122.377   -122.059   -122.383   -121.989   -122.019
 -122.208   -121.878   -122.328   -122.25    -122.338   -122.388
 -122.265   -122.332   -122.399   -122.397   -122.014   -121.956
 -122.092   -122.028   -122.293   -122.12    -122.035   -122.14
 -122.04    -122.112   -122.17    -122.238   -122.512   -121.997
 -121.89    -122.463   -121.908   -122.086   -122.389   -121.913
 -122.163   -121.918   -122.108   -122.502   -122.392   -122.236
 -121.859   -121.981   -122.342   -121.96    -121.978   -122.47
 -121.91    -121.966   -122.065   -122.246   -122.41    -121.879
 -122.079   -122.099   -122.187   -121.98    -122.002   -122.138
 -121.898   -122.235   -122.126   -121.782   -121.995   -122.401
 -121.858   -121.888   -121.752   -122.063   -122.26    -121.78
 -121.708   -121.721   -122.403   -121.945   -122.243   -122.45
 -121.927   -122.085   -122.088   -121.973   -122.055   -122.398
 -121.984   -121.912   -121.903   -121.946   -122.232   -122.412
 -122.104   -122.048   -122.479   -122.155   -121.833   -121.778
 -122.003   -121.99    -121.926   -122.051   -121.986   -122.245
 -121.861   -122.431   -121.964   -122.142   -122.074   -122.247
 -122.497   -121.769   -121.827   -121.979   -121.871   -122.091
 -121.754   -121.746   -121.92    -121.992   -122.406   -121.359
 -121.789   -121.707   -122.068   -122.404   -122.334   -121.799
 -121.774   -121.985   -121.865   -121.724   -122.415   -121.756
 -121.809   -122.135   -121.691   -122.038   -121.877   -121.94
 -121.968   -121.988   -121.315   -121.902   -122.514   -122.414
 -121.883   -121.866   -121.744   -122.096   -122.061   -121.881
 -121.745   -122.461   -122.067   -121.868   -121.646   -121.93
 -122.105   -121.763   -121.718   -121.967   -121.777   -121.957
 -121.823   -121.887   -122.408   -122.462   -122.43    -122.456
 -121.897   -121.932   -121.969   -121.916   -122.081   -121.975
 -121.735   -121.801   -121.761   -121.723   -121.924   -122.475
 -121.935   -122.407   -122.448   -122.453   -121.894   -121.936
 -121.764   -122.416   -121.905   -122.464   -121.768   -122.484
 -121.738   -121.9     -121.82    -122.455   -121.889   -122.496
 -121.829   -122.505   -121.951   -121.847   -122.509   -121.961
 -121.417   -121.904   -122.503   -121.949   -121.874   -122.432
 -121.971   -121.77    -122.473   -121.896   -121.952   -122.254
 -121.743   -121.933   -121.892   -121.473   -121.857   -122.465
 -121.838   -121.954   -122.422   -121.931   -121.963   -122.441
 -121.925   -121.352   -122.511   -122.413   -121.876   -121.748
 -121.818   -121.8     -121.929   -121.698   -121.886   -121.802
 -121.81    -121.762   -121.781   -121.775   -122.44    -121.773
 -121.819   -121.726   -122.459   -122.446   -121.855   -121.736
 -122.499   -122.46    -121.786   -122.421   -121.947   -122.439
 -121.834   -121.804   -122.443   -121.716   -121.848   -122.458
 -122.515   -121.922   -121.953   -121.783   -122.472   -121.944
 -121.869   -122.452   -121.831   -121.737   -121.739   -121.863
 -121.73    -121.856   -121.747   -121.893   -121.733   -121.846
 -121.821   -121.319   -121.765   -121.75    -122.506   -121.948
 -121.921   -121.828   -122.507   -122.457   -121.749   -121.914
 -122.469   -121.792   -121.907   -121.841   -121.757   -121.788
 -121.731   -122.449   -121.316   -121.321   -122.504   -121.884
 -121.803   -121.842   -121.719   -121.766   -122.433   -122.519
 -121.851   -121.402   -122.454   -122.467   -121.325   -121.815
 -121.676   -121.941   -122.445   -121.76    -121.885   -121.742
 -121.822   -121.895   -121.784   -121.701   -121.713   -121.727
 -121.849   -121.835   -122.435   -122.474   -122.444   -121.939
 -121.48    -121.364   -121.767   -122.42    -121.84    -121.906
 -122.425   -122.447   -121.797   -121.917   -121.891   -121.942
 -121.862   -121.725   -121.873   -121.405   -122.486   -121.795
 -121.734   -121.403  ]

sqft_living15:

 [1340. 1690. 2720. 1360. 1800. 4760. 2238. 1650. 1780. 2390. 2210. 1330.
 1370. 2140. 1890. 1610. 1060. 1280. 1400. 4110. 2240. 1220. 2200. 1030.
 1760. 1860. 1520. 2630. 2580. 1390. 1460. 1570. 2020. 1590. 2160. 1730.
 1290. 2620. 2470. 2410. 3625. 1580. 3050. 1228. 2680.  970. 1190. 1990.
 1410. 1480. 2730. 1950. 2250. 2690. 2960. 2270. 2570. 2500. 1440. 2750.
 2221. 1010. 3390. 3530. 1640. 1510. 2420. 1940. 3240. 1680.  890. 1130.
 3350. 2350. 1870. 1720. 1850. 1900. 1980. 2520. 1350. 1750. 1160. 2550.
 2370. 1240. 1270. 2990. 1380. 1540. 2090. 2640. 1830. 1620. 1880. 2340.
 1710. 2700. 3060. 2660. 1700. 1970. 1420. 2060. 2480. 1550. 1170. 2820.
 1560. 2230. 2840. 1450. 1500. 3160. 1200. 3400. 2110. 2920. 1770. 1070.
 1930. 3740. 2260. 1670. 2290. 1050. 2540. 2190. 2030. 1230. 2330. 1300.
 1430. 2770. 1250. 1630. 2590. 2130. 1100. 3836. 1320. 2120. 3070. 1910.
 2080. 1960. 2280. 1150. 3430. 2070. 2600.  830. 1260. 3120. 2010. 1660.
 1600. 2380. 3890. 4180. 2653. 2670. 3920. 2300. 2310. 2320. 3150. 1740.
 2400. 4550. 2510. 2440. 2880. 3860. 2150. 1310. 1820. 3080.  880. 2560.
 3470. 1020. 2040. 2610. 1810. 2860. 3480. 3130. 3360. 4050. 2450. 1790.
 3180. 3600. 2000. 2430. 2850. 4680. 2360. 3930. 1490. 2460. 2077. 1920.
 3630. 3220. 2100. 3230. 4300. 3850. 2424. 2530. 3030. 2830. 2900. 2950.
 1470.  940. 2740. 4210. 3340. 3980. 2180. 3715. 2050. 1080. 2095. 1000.
 3330. 2170. 1408. 1530. 2760. 3110.  950. 3000. 1307. 2220. 4190. 3440.
 3250. 1110. 2870. 1210. 2910. 1120. 4230. 1708. 3090. 3270. 2970. 1180.
 3100. 4100. 2930. 3510. 2688. 1840. 2490. 4090. 2810. 3260. 3680. 3420.
 1654. 1365.  980. 1677. 1140. 3640. 3460. 3140. 1502. 3720. 2790. 2940.
  990. 2890.  860. 4750. 1525. 3950. 5790.  760. 2234.  960. 3210. 2780.
 2800. 2305. 2665. 3620. 2710. 4320. 2650. 3370. 1509. 1277. 1981. 2434.
 4640. 2242. 3040. 3970. 3200. 4600.  840. 3290. 2214. 1162. 3010. 5600.
 3820. 3540. 1975. 4800.  740. 3990. 3170. 1576. 1768. 3310. 2980. 1429.

In [5]:
df.info

<bound method DataFrame.info of                id  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0      7129300520     3.000      1.000     1180.000  5650.000   1.000
1      6414100192     3.000      2.250     2570.000  7242.000   2.000
2      5631500400     2.000      1.000      770.000 10000.000   1.000
3      2487200875     4.000      3.000     1960.000  5000.000   1.000
4      1954400510     3.000      2.000     1680.000  8080.000   1.000
...           ...       ...        ...          ...       ...     ...
21592   263000018     3.000      2.500     1530.000  1131.000   3.000
21593  6600060120     4.000      2.500     2310.000  5813.000   2.000
21594  1523300141     2.000      0.750     1020.000  1350.000   2.000
21595   291310100     3.000      2.500     1600.000  2388.000   2.000
21596  1523300157     2.000      0.750     1020.000  1076.000   2.000

       waterfront  view  condition  grade  ...  yr_renovated  zipcode    lat  \
0             NaN 0.000          3      7  ...         0.000    98178 47.511
1           0.000 0.000          3      7  ...     19910.000    98125 47.721
2           0.000 0.000          3      6  ...           NaN    98028 47.738
3           0.000 0.000          5      7  ...         0.000    98136 47.521
4           0.000 0.000          3      8  ...         0.000    98074 47.617
...           ...   ...        ...    ...  ...           ...      ...    ...
21592       0.000 0.000          3      8  ...         0.000    98103 47.699
21593       0.000 0.000          3      8  ...         0.000    98146 47.511
21594       0.000 0.000          3      7  ...         0.000    98144 47.594
21595         NaN 0.000          3      8  ...         0.000    98027 47.535
21596       0.000 0.000          3      7  ...         0.000    98144 47.594

          long  sqft_living15  sqft_lot15       date      price    house_id  \
0     -122.257       1340.000    5650.000 2014-10-13 221900.000  7129300520
1     -122.319       1690.000    7639.000 2014-12-09 538000.000  6414100192
2     -122.233       2720.000    8062.000 2015-02-25 180000.000  5631500400
3     -122.393       1360.000    5000.000 2014-12-09 604000.000  2487200875
4     -122.045       1800.000    7503.000 2015-02-18 510000.000  1954400510
...        ...            ...         ...        ...        ...         ...
21592 -122.346       1530.000    1509.000 2014-05-21 360000.000   263000018
21593 -122.362       1830.000    7200.000 2015-02-23 400000.000  6600060120
21594 -122.299       1020.000    2007.000 2014-06-23 402101.000  1523300141
21595 -122.069       1410.000    1287.000 2015-01-16 400000.000   291310100
21596 -122.299       1020.000    1357.000 2014-10-15 325000.000  1523300157

        id.1
0          1
1          2
2          3
3          4
4          5
...      ...
21592  21593
21593  21594
21594  21595
21595  21596
21596  21597

[21597 rows x 23 columns]>

In [6]:
df.duplicated().value_counts()

False    21597
Name: count, dtype: int64

In [7]:
df.columns

Index(['id', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'date', 'price', 'house_id', 'id.1'],
      dtype='object')

In [8]:
df.dtypes

id                        int64
bedrooms                float64
bathrooms               float64
sqft_living             float64
sqft_lot                float64
floors                  float64
waterfront              float64
view                    float64
condition                 int64
grade                     int64
sqft_above              float64
sqft_basement           float64
yr_built                  int64
yr_renovated            float64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15           float64
sqft_lot15              float64
date             datetime64[ns]
price                   float64
house_id                  int64
id.1                      int64
dtype: object

In [9]:
# Load the dataset
#file_path = 'path_to_your_file.csv'  # Replace with the path to your file
#data = pd.read_csv(file_path)

# Create a base map centered on the average latitude and longitude
#map_center = [data['lat'].mean(), data['long'].mean()]
#m = folium.Map(location=map_center, zoom_start=10, tiles='Stamen Toner')

# Add house locations to the map
#for _, row in data.iterrows():
#    folium.CircleMarker(
#        location=[row['lat'], row['long']],  # Latitude and Longitude
#        radius=2,  # Size of the marker
#        color='blue',  # Marker color
#        fill=True,  # Fill the marker
#        fill_opacity=0.5,  # Transparency
#   ).add_to(m)

# Save the map to an HTML file
#m.save('house_locations_map.html')

#print("Map has been saved as 'house_locations_map.html'. Open this file in your browser to view it.")

In [10]:
unique_zipcodes = df['zipcode'].unique()  # Get unique zip codes
num_unique_zipcodes = len(unique_zipcodes)  # Count the number of unique zip codes

print(f"Number of unique zip codes: {num_unique_zipcodes}")
print("Unique zip codes:", unique_zipcodes)

Number of unique zip codes: 70
Unique zip codes: [98178 98125 98028 98136 98074 98053 98003 98198 98146 98038 98007 98115
 98107 98126 98019 98103 98002 98133 98040 98092 98030 98119 98112 98052
 98027 98117 98058 98001 98056 98166 98023 98070 98148 98105 98042 98008
 98059 98122 98144 98004 98005 98034 98075 98116 98010 98118 98199 98032
 98045 98102 98077 98108 98168 98177 98065 98029 98006 98109 98022 98033
 98155 98024 98011 98031 98106 98072 98188 98014 98055 98039]

In [ ]:
def get_city_by_zip(zip_code):
    try:
        # Make API request for the zip code (This works for US zip codes)
        response = requests.get(f'http://api.zippopotam.us/us/{zip_code}')
        
        # If the response is successful and contains city info
        if response.status_code == 200:
            data = response.json()
            # Extract the city name from the response
            if 'places' in data:
                return data['places'][0]['place name']
            else:
                return None
        else:
            return None
    except Exception as e:
        # In case of any error (e.g., invalid zip code)
        return None

# Assuming your DataFrame is named df
# Apply the function to get the city for each zip code in the DataFrame
df['city'] = df['zipcode'].apply(lambda x: get_city_by_zip(str(x)))  # Ensure zip codes are in string format

# Display the first few rows with city names
print(df[['zipcode', 'city']].head())

In [ ]:
df.tail(20)

In [ ]:
# Group the houses by 'zipcode' and then sort by 'price' within each group
grouped_by_zip = df.groupby('zipcode').apply(lambda x: x.sort_values('price', ascending=False))

# Resetting the index for better readability
grouped_by_zip.reset_index(drop=True, inplace=True)

# Display the first few rows to check
print(grouped_by_zip[['house_id','zipcode','date', 'price', 'condition', 'grade','yr_renovated', 'yr_renovated']].head(20))

In [ ]:


# Scatter plot with seaborn
plt.figure(figsize=(10, 6))
sns.scatterplot(x='yr_renovated', y='price', data=df, alpha=0.5, color='blue')
plt.title('Price vs. Year Renovated')
plt.xlabel('Year Renovated')
plt.ylabel('Price')
plt.grid(True)
plt.show()